{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h2><b>Dropout prediction and analysis</b></h2>
    <p class="lead">Exploration and quantitative analysis of all available 
        structured and unstructured data to develop understanding, extract knowledge, 
        and formulate actionable results. Using algorithms for Classification, 
        Regression; Clustering; Survival Analysis. </p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Algorithms and analysis</h2>
        <p>
            <ul>
                <li><b>Classification:</b> Algorithms used to predict if a customer will churn or not</li>
                <li>Regression</li>
                <li>Clustering</li>
                <li>Survival Analysis: estimating the underlying survival funcion using lifetables and
                    kaplan-meier curves. Comparing the survival times of two or more groups with log-rank test and
                    describing the effect of covariates using: cox proportional hazards regression; survival trees and
                    survival random forests.</li>
            </ul>

        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}