{% extends "layout.html" %}

{% block content %}

<div class="jumbotron">
    <h1>Flask</h1>
    <p class="lead">Exploration and quantitative analysis of all available structured and unstructured data to develop understanding,
    extract knowledge, and formulate actionable results.
    Using the following algorithms:
    <li>
        <ul>Classification: Algorithms used to predict if a customer will churn or not</ul>
        <ul>Regression</ul>
        <ul>Clustering</ul>
    </li>
    </p>
    <p><a href="http://flask.pocoo.org/" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-8">
        <h2>Getting started</h2>
        <p>Exploration and quantitative analysis of all available structured and unstructured data to develop understanding,
        extract knowledge, and formulate actionable results.
        Using the following algorithms:
        <li>
            <ul>Classification: Algorithms used to predict if a customer will churn or not</ul>
            <ul>Regression</ul>
            <ul>Clustering</ul>
        </li>
        </p>
        <p><a class="btn btn-default" href="http://flask.pocoo.org/docs/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-8">
        <h2>Get more libraries</h2>
        <p>The Python Package Index is a repository of software for the Python programming language.</p>
        <p><a class="btn btn-default" href="https://pypi.python.org/pypi">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Microsoft Azure</h2>
        <p>You can easily publish to Microsoft Azure using Visual Studio. Find out how you can host your application using a free trial today.</p>
        <p><a class="btn btn-default" href="http://azure.microsoft.com">Learn more &raquo;</a></p>
    </div>
</div>

{% endblock %}
